body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:#0f2027;
color:white;
overflow-x:hidden;
}

#tsparticles{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

.loader{
position:fixed;
width:100%;
height:100vh;
background:#000;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
z-index:9999;
}

header{
padding:20px;
text-align:center;
font-size:28px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
}

.container{
padding:20px;
}

.card{
background:rgba(255,255,255,0.07);
padding:20px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 0 20px rgba(0,0,0,0.4);
}

.mini-stats{
display:flex;
gap:20px;
margin-bottom:10px;
font-size:14px;
opacity:0.8;
}

.slide-control{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
margin-bottom:10px;
}

button{
padding:6px 12px;
border:none;
border-radius:6px;
background:#00c6ff;
color:white;
cursor:pointer;
}

table{
width:102%;
border-collapse:collapse;
margin-top:10px;
}

th,td{
padding:8px;
text-align:center;
}

th{
background:rgba(255,255,255,0.1);
}

tr:nth-child(even){
background:rgba(255,255,255,0.05);
}

input{
padding:8px;
border-radius:6px;
border:none;
margin-bottom:10px;
}






.summary-box{
display:flex;
gap:30px;
margin:20px 0;
}

.summary-item{
flex:1;
background:linear-gradient(135deg,#00c6ff,#0072ff);
padding:20px 30px;
border-radius:18px;
box-shadow:0 0 25px rgba(0,0,0,0.4);
}

.summary-item span{
font-size:14px;
opacity:0.85;
}

.summary-item h2{
margin:6px 0 0 0;
font-size:28px;
font-weight:bold;
}


.summary-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.summary-item {
  background: #1f2c33;
  padding: 20px;
  border-radius: 12px;
  min-width: 100px;
}

.summary-item span {
  color: #aaa;
  font-size: 14px;
}

.summary-item h2 {
  margin-top: 10px;
  font-size: 24px;
}
